.cardsContainer {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 80%;
}

@media (max-width: 600px) {
    .showForm{
        display: none;
    }
    .cardsContainer {
        width: 100%;
    }
}